# AgileBuilder CLI 环境变量配置
# 复制此文件为 .env 并修改配置

AG_BACKEND_CHINA_SSO_URL=https://api-auth.agilebuilder.cn
AG_BACKEND_CHINA_WORKSPACE_URL=https://api-app.agilebuilder.cn
AG_BACKEND_GLOBAL_SSO_URL=https://api-auth.agilebuilder.net
AG_BACKEND_GLOBAL_WORKSPACE_URL=https://api-app.agilebuilder.net
