src/
*.ts
!*.d.ts
tsconfig.json

.github/
.git/
.gitignore
.npmignore
.vscode/
node_modules/
coverage/

*.log
*.tmp
*.temp
*.tgz
.DS_Store
.env
.env.local
.env.*.local
*.tsbuildinfo

dist/**/*.test.js
dist/**/*.test.d.ts
dist/**/*.test.js.map
dist/**/*.test.d.ts.map
